<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {# Custom CSS#}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {# Custom font#}
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">



  </head>


  <body class="loader">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-nav ">
        <a class="navbar-brand" href="{% url 'index' %}">DARKO</a>
        <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
        <!-- <a class="nav-item nav-link" href="{% url 'Labrinth:about' %}">About</a> -->

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02 ">
          <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
            </li> -->

          <!-- </ul> -->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>


              <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li> -->

        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

    <div class="container">
      <picture class="Element" style="--image: url(https://images.unsplash.com/photo-1511692277506-3be3a7ab1686)">
        <img src="https://images.unsplash.com/photo-1511692277506-3be3a7ab1686" alt="">
    <span class="Border"></span>
    </picture>

    <!-- Add icon library -->




    {% block body_block %}
    {# Anything outside of this will be inherited if you use extend.#}
    {% endblock %}
    </div>

  </body>
</html>
